.header {
  background-color: black;
  padding: 5px;
  padding-left: 20px;
  color: white;
}

.home {
  color: white;
  margin: 40px;
}

.homeGrid {
  background-color: rgb(24, 23, 23);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.menu {
  background-color: rgb(14, 13, 13);
  flex: 1;
  height: calc(100vh - 70px);
}

.content {
  flex: 4;
  height: calc(100vh - 70px);
  overflow-y: auto;
}

.navButton {
  padding: 20px;
  margin: 20px;
  color: white;
  background-color: rgb(24, 23, 23);
  text-align: center;
  cursor: pointer;
  transition: 0.2s ease;
}

/* for MyScroller-notrack */
.content::-webkit-scrollbar {
  width: 0.6em;
  height: 0.4em;
}

.content::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0px rgba(0, 0, 0, 0.3);
}

.content::-webkit-scrollbar-thumb {
  background-color: grey;
  outline: 1px solid slategrey;
}
/* end for my scroller part  */
